
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2 style="text-align:center"><strong>Thông tin</strong></h2>
<h4 style="margin-top:30px"><strong>Trường:</strong> Đại học Công nghệ thông tin - ĐHQG TP.HCM</h4>
<h4 style="margin-top:20px"><strong>Đồ án môn học:</strong> Phát triển phần mềm hướng đối tượng - Lớp: SE100.I11</h4>
<h4 style="margin-top:20px; margin-bottom:20px"><strong>Đề tài:</strong> Hệ thống website quản lí bán hàng cho một cửa hàng linh kiện và máy tính</h4>
<table class="gridTable table-hover">
    <thead style="color:#ffffff;font-weight:bold">
        <tr>
            <th class="gridHead">STT</th>
            <th class="gridHead">MSSV</th>
            <th class="gridHead">Họ và tên</th>
            <th class="gridHead">Email</th>
            <th class="gridHead">Số điện thoại</th>
        </tr>
    </thead>
    <tbody class="gridRow" id="row_holder">
        <tr>
            <td>1</td>
            <td>14520021</td>
            <td>Nghiêm Lan Anh</td>
            <td>14520021@gm.uit.edu.vn</td>
            <td>0938999192</td>
        </tr>
        <tr>
            <td>2</td>
            <td>14520074</td>
            <td>Lê Hoàng Bửu</td>
            <td>14520074@gm.uit.edu.vn</td>
            <td>0974227654</td>
        </tr>
        <tr>
            <td>3</td>
            <td>14520091</td>
            <td>Nguyễn Viết Thành Chương</td>
            <td>14520091@gm.uit.edu.vn</td>
            <td>0962824026</td>
        </tr>
        <tr>
            <td>4</td>
            <td>13520939</td>
            <td>Lê Văn Hiếu Trọng</td>
            <td>13520939@gm.uit.edu.vn</td>
            <td>01688160862</td>
        </tr>
    </tbody>
</table>



