
@{
    ViewBag.Title = "LoiPhanQuyen";
    Layout = "~/Views/Layout/LoginLayout.cshtml";
}

<h2 class="p-bottom-w3ls" style="font-size:30px; font-weight:bold">Truy cập bị từ chối ! <a style=" font-size: 30px" class="w3_play_icon1" href="@Url.Action("DangXuat", "DangNhap")">Quay lại</a></h2>


