@using CommercialWeb.Models
@model IEnumerable<SanPham>

   
 <!-- START SLIDER AREA -->
<div class="slider-area  plr-185  mb-80">
    <div class="container-fluid">
        <div class="slider-content">
            <div class="row">
                <div class="active-slider-1 slick-arrow-1 slick-dots-1">
                    @foreach (var item in Model.Take(3))
                    {
                        <!-- layer-1 Start -->
                        <div class="col-md-12">
                            <div class="layer-1">
                                <div class="slider-img">
                                    <img src="@Url.Content("~/Content/ProductImages/" + item.HinhAnh1)" alt="@item.TenSP">
                                </div>
                                <div class="slider-info gray-bg">
                                    <div class="slider-info-inner">
                                        <h1 class="slider-title-1 text-uppercase text-black-1">@item.TenSP</h1>
                                        <div class="slider-brief text-black-2">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,</p>
                                            
                                         </div>
                                        <a href="#" class="button extra-small button-black">
                                            <span class="text-uppercase">MUA NGAY</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- layer-1 end -->
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SLIDER AREA -->