@using CommercialWeb.Models

<div class="navigation account">
    <ul>
        <li><a href="#"><i class="men"></i></a></li>
        <li><a style="font-weight:bold" href="#">ADMIN</a></li>
    </ul>
</div>