<!-- START HEADER AREA -->
<!-- header-top-bar -->
<div class="header-top-bar plr-185">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 hidden-xs">
                <div class="call-us">
                    <p class="mb-0 roboto">(+88) 01234-567890</p>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="top-link clearfix">
                    <ul class="link f-right">
                        <li>
                            <a href="my-account.html">
                                <i class="zmdi zmdi-account"></i>
                                My Account
                            </a>
                        </li>
                        @*<li>
                            <a href="wishlist.html">
                                <i class="zmdi zmdi-favorite"></i>
                                Wish List (0)
                            </a>
                        </li>*@
                        <li>
                            <a href="login.html">
                                <i class="zmdi zmdi-lock"></i>
                                Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header-middle-area -->
<div id="sticky-header" class="header-middle-area plr-185 sticky">
    <div class="container-fluid">
        <div class="full-width-mega-dropdown">
            <div class="row">
                <!-- logo -->
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="logo">
                        <a href="index.html">
                            <img src="~/Content/images/home/logo.png" alt="main logo">
                        </a>
                    </div>
                </div>
                <!-- primary-menu -->
                <div class="col-md-8 hidden-sm hidden-xs">
                    <nav id="primary-menu">
                        <ul class="main-menu text-center">
                            <li>
                                <a href="index.html">Trang chủ</a>
                                <ul class="dropdwn">
                                    <li>
                                        <a href="index.html">Home Version 1</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="mega-parent">
                                <a href="#">Linh kiện</a>
                                <div class="mega-menu-area mega-menu-area-2 clearfix">
                                    <div class="mega-menu-link mega-menu-link-2  f-left">
                                        <ul class="single-mega-item">
                                            <li>
                                                <a href="elements-header-1-sticky.html">Đồng hồ đo, thiết bị đo</a>
                                            </li>
                                            <li>
                                                <a href="elements-header-1-no-sticky.html">Vi điều khiển</a>
                                            </li>
                                            <li>
                                                <a href="elements-header-2-sticky.html">Mạch nạp</a>
                                            </li>
                                            <li>
                                                <a href="elements-header-2-no-sticky.html">Cảm biến</a>
                                            </li>
                                            <li>
                                                <a href="elements-footer-1.html">IC</a>
                                            </li>
                                        </ul>
                                        <ul class="single-mega-item">
                                            <li>
                                                <a href="elements-featured-product-1.html">Transistor</a>
                                            </li>
                                            <li>
                                                <a href="elements-featured-product-2.html">Diode</a>
                                            </li>
                                            <li>
                                                <a href="elements-product-tab-1.html">Ốc vít</a>
                                            </li>
                                            <li>
                                                <a href="elements-product-tab-2.html">Cầu chì</a>
                                            </li>
                                            <li>
                                                <a href="elements-up-comming-product-1.html">Cuộn cảm</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="mega-parent">
                                <a href="shop.html">Máy tính bàn</a>
                                <div class="mega-menu-area mega-menu-area-2 clearfix">
                                    <div class="mega-menu-link mega-menu-link-2 f-left">
                                        <ul class="single-mega-item">
                                            <li class="menu-title">Smart Phone</li>
                                            <li>
                                                <a href="#">All Mobile Phones</a>
                                            </li>
                                            <li>
                                                <a href="#">Smart phones</a>
                                            </li>
                                            <li>
                                                <a href="#">Android Mobiles</a>
                                            </li>
                                            <li>
                                                <a href="#">Windows Mobiles</a>
                                            </li>
                                            <li>
                                                <a href="#">Refurbished Mobiles</a>
                                            </li>
                                            <li>
                                                <a href="#">All Mobile Accessories</a>
                                            </li>
                                            <li>
                                                <a href="#">Cases &amp; Covers</a>
                                            </li>
                                        </ul>
                                        <ul class="single-mega-item">
                                            <li class="menu-title">Note Book</li>
                                            <li>
                                                <a href="">All Note Books</a>
                                            </li>
                                            <li>
                                                <a href="">Smart notebooks</a>
                                            </li>
                                            <li>
                                                <a href="">Android Note Book</a>
                                            </li>
                                            <li>
                                                <a href="">Windows Note Books</a>
                                            </li>
                                            <li>
                                                <a href="">Refurbished Note Books</a>
                                            </li>
                                            <li>
                                                <a href="">Note Books Accessories</a>
                                            </li>
                                            <li>
                                                <a href="">Cases &amp; Covers</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="mega-menu-photo f-left">
                                        <a href="#">
                                            <img src="~/Content/cart/images/1_2.jpg" alt="mega menu image">
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="mega-parent">
                                <a href="#">Laptop</a>
                                <div class="mega-menu-area mega-menu-area-2 clearfix">
                                    <div class="mega-menu-link mega-menu-link-2  f-left">
                                        <ul class="single-mega-item">
                                            <li class="menu-title">page list</li>
                                            <li>
                                                <a href="shop.html">Shop</a>
                                            </li>
                                            <li>
                                                <a href="shop-left-sidebar.html">Shop Left Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="shop-right-sidebar.html">Shop Right Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="shop-list.html">Shop List</a>
                                            </li>
                                            <li>
                                                <a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="single-product.html">Single Product</a>
                                            </li>
                                            <li>
                                                <a href="single-product-left-sidebar.html">Single Product Left Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="single-product-no-sidebar.html">Single Product No Sidebar</a>
                                            </li>
                                        </ul>
                                        <ul class="single-mega-item">
                                            <li class="menu-title">page list</li>
                                            <li>
                                                <a href="cart.html">Shopping Cart</a>
                                            </li>
                                            @*<li>
                                                <a href="wishlist.html">Wishlist</a>
                                            </li>*@
                                            <li>
                                                <a href="checkout.html">Checkout</a>
                                            </li>
                                            <li>
                                                <a href="order.html">Order</a>
                                            </li>
                                            <li>
                                                <a href="login.html">Đăng nhập</a>
                                            </li>
                                            <li>
                                                <a href="My-account.html">Tài khoản</a>
                                            </li>
                                            <li>
                                                <a href="about.html">Về chúng tôi</a>
                                            </li>
                                            <li>
                                                <a href="404.html">404</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <a href="about.html">Về chúng tôi</a>
                            </li>
                            <li>
                                <a href="contact.html">Liên hệ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- header-search & total-cart -->
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="search-top-cart  f-right">
                        <!-- header-search -->
                        <div class="header-search f-left">
                            <div class="header-search-inner">
                                <button class="search-toggle">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                                <form action="#">
                                    <div class="top-search-box">
                                        <input type="text" placeholder="Search here your product...">
                                        <button type="submit">
                                            <i class="zmdi zmdi-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- total-cart -->
                        <!--Insert partial view GioHangPartial into layout. Extract icon cart into a new partial view-->
                        <div id="giohang_partial_holder" class="total-cart f-left">
                            @Html.Action("GioHangPartial", "GioHang")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END HEADER AREA -->
