@using CommercialWeb.Models

@model IEnumerable<SanPham>
    <!-- BY BRAND SECTION START-->
<div class="by-brand-section mb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-left mb-40">
                    <h2 class="uppercase">Sản phẩm mới</h2>
                    <h6>Những sản phẩm mới nhất của chúng tôi</h6>
                </div>
            </div>
        </div>
        <div class="by-brand-product">
            <div class="row active-by-brand slick-arrow-2">
                @foreach (var item in Model.Take(5))
                {
                    <!-- single-brand-product start -->
                    <div class="col-xs-12">
                        <div class="single-brand-product">
                            <a href="@Url.RouteUrl("XemChiTiet", new { @id = item.MaSP, @tensp = item.TenSP})"><img src="@Url.Content("~/Content/ProductImages/" + item.HinhAnh1)" alt="@item.TenSP"></a>
                        </div>
                        <h5 class="brand-title text-gray" style="text-align:center; margin-top:10px">
                            <a href="#">@item.TenSP</a>
                        </h5>
                    </div>
                    
                <!-- single-brand-product end -->
                }
            </div>
        </div>
    </div>
</div>

