
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2 style="text-align:center"><strong>Liên hệ</strong></h2>
<h4 style="margin-top:30px">Mọi chi tiết xin gửi email về địa chỉ: <a href="#">lananh.nghiem0502@gmail.com</a></h4>


