@*Use ViewBag to show the number of product inserted*@
<!-- total-cart -->
@Html.Raw(TempData["msg"])
<div id="giohang" class="total-cart f-left">
    <div class="total-cart-in">
        <div class="cart-toggler">
            <a href="@Url.Action("XemGioHang","GioHang")">
                <span class="cart-quantity">@ViewBag.TongSoLuong</span><br>
                <span class="cart-icon">
                    <i class="zmdi zmdi-shopping-cart-plus"></i>
                </span>
            </a>
        </div>
    </div>
</div>
