@using CommercialWeb.Models;
@model IEnumerable<DonHang>
@{
    ViewBag.Title = "QuanLyDonHang";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 20);
}
<h1 style="margin: 1em; text-align:center">DANH SÁCH ĐƠN HÀNG</h1>

@grid.GetHtml(
    tableStyle: "gridTable",
    headerStyle: "gridHead",
    footerStyle: "gridFooter",
    rowStyle: "gridRow",
    alternatingRowStyle: "gridAltRow",
    columns: grid.Columns(
        grid.Column("MaDonHang", "Mã đơn hàng"),
        grid.Column("KhachHang.HoTen", "Tên Khách Hàng"),
        grid.Column("TongTien", "Tổng tiền", format: p => String.Format("{0:n0}",p.TongTien) + " VNĐ"),
        grid.Column("TinhTrangDonHang.TenTinhTrang", "Tình trạng đơn hàng"),
        grid.Column(format: p => @Html.ActionLink("Chi tiết", "ChiTietDonHang", new { MaDonHang = p.MaDonHang })),
        grid.Column(format: p => @Html.ActionLink("Xóa", "XoaDonHang", new { MaDonHang = p.MaDonHang }))
    )
)
@*Css cho từng Style của table*@
<style>
    .gridTable {
        width: 100%;
        border: 1px solid #000;
        padding: 1em;
    }

        .gridTable td {
            border: 1px solid #000;
            padding: 1em;
        }

    .gridHead {
        background-color: #27ae60;
        padding: 1em;
    }

        .gridHead > th {
            border: 1px solid #000;
            color: #fff;
            padding: 1em;
        }
        .gridHead > th:hover {
            color: #fff;
            background-color: #22d425;
        }

    .gridFooter a {
        font-weight: bold;
        padding: 2px;
        border: 1px solid #999999;
    }
</style>

<style>
    .FooterAdmin {
        display: none;
    }
</style>

